# Django Settings
DEBUG=True
DJANGO_SECRET_KEY=CHANGE_THESE_SECRET_KEY
ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0

# Database
DB_NAME=prothom_alo_scrapper
DB_USER=django_api
DB_PASSWORD=1234
DB_HOST=db
DB_PORT=3306

# Redis
REDIS_HOST=redis
REDIS_PORT=6379


# Celery
CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0

# Elasticsearch
ELASTICSEARCH_HOST=elasticsearch
ELASTICSEARCH_PORT=9200

WEB_PORT=8000

# CORS
CORS_ALLOWED_ORIGINS=http://localhost:3000